* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    margin: 0 auto;
    text-align: center;
    background-color: black;
}

nav{
    margin-top: 100px;
    margin-bottom: 100px;
}

nav a{
    text-decoration: none;
    color: black;
    margin-right: 75px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
    color: #ffb20f;
}

nav a:hover{
    color: #ffb20f;
    background-color: #972d07;
    border-radius: 10px;
}

.hero {
    height: 100%;
    width: 100%;
    background: black;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
    width: 380px;
    height: 450px;
    position: relative;
    margin: 10% auto;
    background: #ece9e9;
    padding: 5px;
    overflow: hidden;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px rgb(202, 120, 120);
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #cc0e00, rgb(202, 120, 120));
    border-radius: 30px;
    transition: .5s;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 50px auto;
    background: linear-gradient(to right, #cc0e00, rgb(202, 120, 120));
    border: 0;
    outline: none;
    border-radius: 30px;
}

#login {
    left: 50px; 
}

#register {
    left: 450px; 
}
