/* Color pallet:  https://coolors.co/582707-972d07-cc0e00-ffb20f-ffe548*/


body{
    margin: 0 auto;
    text-align: center;
    background-color: black;
}

nav{
    margin-top: 100px;
    margin-bottom: 100px;
}

nav a{
    text-decoration: none;
    color: black;
    margin-right: 75px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
    color: #ffb20f;
}

nav a:hover{
    color: #ffb20f;
    background-color: #972d07;
    border-radius: 10px;
}

.button-box{
    text-decoration: none;
    font-size: 25px;
}

.homepagereviews{
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
    grid-row-gap: 75px;
    justify-content: center;
    align-items: center;
}

#photo1{
    grid-column: 2/3;
}

#photo2{
    
    grid-column: 3/4;
}
#photo3{
    grid-column: 4/5;
}

#photo4{
    grid-column: 5/6;
}

#photo5{
    grid-column: 2/3;
    grid-row: 2/3;
}

#photo6{
    grid-column: 3/4;
    grid-row: 2/3;
}

#photo7{
    grid-column: 4/5;
    grid-row: 2/3;
}

#photo8{
    grid-column: 5/6;
    grid-row: 2/3;
}
